@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

li {
	list-style: none;
}
.clearfix:after{
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
body, button, input, select, textarea {
    font: 12px/24px Arial, 'Microsoft Yahei', 宋体, sans-serif;
}