*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Microsoft Yahei';
}

a{
	text-decoration: none;
	cursor: pointer;
}
.app{
    background-color: #f0f0f0;
}
input,button,select,textarea{outline:none;}
a:hover{
	text-decoration: none;
}
a:link{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
.clearfix:after{
	content: "";
    display: block;
    clear: both;
  /*content:"";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;*/
}
li{
	list-style: none;
}
