.main-center{
	width: 1000px;
    margin: 15px auto;
}
.loading-animation{
	height: 500px;
	background: url(../img/87237cc3b6406b53963c0e7f0129cef5.gif) 50% 50% no-repeat;
	opacity: 0.5;
}
.main-left{
	float: left;
    background: #fff;
    border-radius: 4px;
  
}
.main-right{
	float: right;
    width: 230px;
    height: 922px;
}
.music{
	display:block;
	float: left;
	margin-right: 1px;
	position: relative;
}
.music-type{
	  height: 192px;
}
.music-type a:last-child{
	margin-right: 0px;
}
.music-img{
	width: 150px;
	height: 150px;
}
.music-img1{
	background: url(../img/3a9a80e2b2ba3c32b05f81fa7990215e.jpg);
}
.music-img2{
	background: url(../img/655c7dbb2e8da175dd62f273119dcb07.jpg);
}
.music-img3{
	background: url(../img/da74a09d483c2e38a7e00dbebcf21ae2.jpg);
}
.music-img4{
	background: url(../img/7334487124a8a7f7b70246172e2cb0f1.jpg);
}
.music-img5{
	background: url(../img/c96ed94cf382a4b54f9f63c100cef7fa.png);
}
.music img{
	 display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
}
.mask{
	width: 150px;
	height: 150px;
	position: absolute;
	display: none;
	top:0;
	left: 0;
	background: url(../img/08922ea4671b22c0c69798757f9c7278.png) 50% 50% no-repeat;
}
.filter{
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
	filter: brightness(.5);
	 -webkit-filter: brightness(.5);/*兼容IE*/
}
.music-name{
	display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
    padding: 11px 0;
    transition: all .2s ease-in-out;
}
.common{
	height: 197px;
	width: 695px;
    margin: 35px auto;
}
.echo-celebrity{
    margin: 50px auto 0;
    height: 209px;
}
.echo-celebrity,.special,.echo-recommend{
	width: 695px;
    margin: 35px auto;
    overflow: hidden;
}
.special{
	height: 263px;
	width: 695px;
}
.echo-recommend{
	height: 1400px;
}
.people{
	 margin-top: 25px;
	 width: 600%;
}
.people li{
	width: 107px;
    height: auto;
    float: left;
    margin-right: 35px;
}
.people li a{
	color: #4a4a4a;
	display: block;
}
.people li a:hover{
	color: #4a4a4a;
}
.people li a:nth-of-type(1){
	 width: 107px;
    height: 107px;
    margin-bottom: 8px;
}
.people li a:nth-of-type(1) img{
	width: 107px;
    height: 107px;
}
.people li a:nth-of-type(2){
	    width: 107px;
    height: 20px;
}
.people li a:nth-of-type(2) span{
	display: inline-block;
    max-width: 111px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
}
.people li a:nth-of-type(3){
	height: 18px;
    line-height: 18px;
	color: #6b6b6b;
    font-size: 12px;
}
.people li a em{
	font-style: normal;
}
.people li a:nth-of-type(3) em{
	 float: left;
    height: 18px;
    margin-right: 4px;
}
.vip:after{
	text-align: center;
	color: white;
	border-radius: 50%;
	background: #43c947;
	content: "v";
	display: inline-block;
    width: 15px;
    height: 15px;
    font: 400 12px/15px arial;
    margin: 0 0 0 5px;
    vertical-align: middle;
}
.special .special-list li{
	float: left;
    width: 150px;
    margin-right: 28px;
}
.special-list{
	width: 500%;
	margin-top: 23px;
}
.special .special-list li a{
	display: block;
}
.special .special-list li a img{
	display: block;
    width: 150px;
    height: 150px;
}
.special-list li a p:nth-of-type(1){
	color: #333;
    font-size: 14px;
    margin-top: 10px;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.special-list li a p:nth-of-type(2){
	font-size: 12px;
    color: #666;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.echo-recommend .big-title i{
	display: inline-block;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #fff;
    font-style: normal;
    background-color: #6ed56c;
    background-image: url(../img/b99faa6fcbf72a7ac2843043864e2236.png);
    background-repeat: no-repeat;
    background-position: 4px 4px;
    border-radius: 14px;
    padding: 0 10px;
    margin-left: 24px;
    vertical-align: bottom;
    text-indent: 20px;
    cursor: pointer;
}
.echomore-box .echomore{
	float: left;
    width: 160px;
    height: 284px;
    background: #f4f4f4;
    margin: 25px 5px 0;
}
.echomore .status-pic{
	position: relative;
    height: 160px;
}
.echomore-box .echomore .status-pic a img{
	width: 160px;
    height: 160px;
    object-fit: cover;
} 
.duration{
	display: block;
    position: absolute;
    left: 0;
    bottom: 5px;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #fff;
    margin-left: 8px;
}
.duration i{
	display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../img/recommend/565347b11acc61d31c49edda7e0d9036.png) no-repeat;
    vertical-align: top;
    margin-right: 5px;
}
.sound-name{
	display: block;
    margin: 12px 15px 0;
    font-size: 14px;
    line-height: 18px;
    height: 36px;
    color: #4a4a4a;
    word-break: break-all;
    overflow: hidden;
}
.sound-name:hover{
	 color: #4a4a4a;
}
.echomore h4{
	margin: 15px 15px 0;
    font-size: 12px;
    line-height: 12px;
    height: 14px;
    color: #9b9b9b;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}
.echomore h4 a{
	 color: #6ed56c;
    font-size: 14px;
    margin-right: 5px;
}
.status-list{
	display: block;
    margin: 10px 5px 0;
    height: auto;
    line-height: 14px;
}
.status-list li{
	float: left;
    display: inline-block;
    width: 50px;
    color: #6b6b6b;
    text-align: center;
    font-size: 12px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.status-list li i{
	display: inline-block;
    height: 14px;
    width: 14px;
    vertical-align: top;
}
.status-list li span{
	    display: block;
    margin-top: 2px;
    overflow: hidden;
    white-space: nowrap;
}
.status-list .share{
	background: url(../img/recommend/ae488640107567b16640846a2375beb3.png) 0px -23px no-repeat;
}
.status-list .status-like{
	    background: url(../img/recommend/ae488640107567b16640846a2375beb3.png) -16px -23px no-repeat;
}
.status-list .status-comment{
	    background: url(../img/recommend/ae488640107567b16640846a2375beb3.png) -34px -23px no-repeat;
}
.main-right .main-right-box h3{
	    font-size: 18px;
    height: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #666;
    margin-top: 20px;
}
.main-right .main-right-box h3 i{
	float: right;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #fff;
    font-style: normal;
    background-color: #6ed56c;
    background-image: url(../img/b99faa6fcbf72a7ac2843043864e2236.png);
    background-repeat: no-repeat;
    background-position: 2px 1px;
    border-radius: 14px;
    padding: 0 10px;
    margin-top: -2px;
    vertical-align: bottom;
    text-indent: 17px;
    cursor: pointer;
}
.main-right-box .handpick{
	display: block;
    margin: 22px 0;
}
.main-right-box .handpick a{
	display: block;
    height: 68px;
    margin-bottom: 16px;
}
.main-right-box .handpick a .pic {
    float: left;
    width: 68px;
    height: 68px;
}
.main-right-box .handpick a .pic img{
	width: 68px;
    height: 68px;
    object-fit: cover;
}
.main-right-box .handpick a .hgroup{
	    float: left;
    margin-left: 10px;
    width: 140px;
} 
.main-right-box .handpick a .hgroup h4{
	    font-size: 12px;
    color: #4a4a4a;
    line-height: 16px;
    height: 48px;
    overflow: hidden;
}  
.main-right-box .handpick a .hgroup h5{
	    font-size: 12px;
    color: #999;
    line-height: 14px;
    height: 14px;
    margin-top: 6px;
    overflow: hidden;
}
.feed-list-more{
	text-align: center;
    background: #f4f4f4;
    margin: 20px;
    font: 400 14px/40px STHeiti,'Microsoft Yahei';
    color: #999;
    cursor: pointer;
}
.copyright-text p{
	color: #999;
    font-size: 16px;
    text-align: center;
}
